body{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    font-family: 'Nunito';
    color: #3E3F43;
    padding-left: 50px;
    padding-right: 50px;
    height: 6000px;
}

#main header{
    position: relative;
    display: grid;
    grid-template-columns:  1fr 2fr;
    top: 20px; 
}

#main figcaption{
    margin-left: 10px;
    font-size: 24px;
    letter-spacing: 5px;
}

#main header nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}

#main header nav a{
    font-size: 15px;
    text-decoration: none;
    color: #3E3F43;
}

#main header nav a.active{
    color: #DAA520;
}

#main header nav a.button{
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
}
.rect-pink{
    position: absolute;
    background-color: #F9BDBD;
    height: 800px;
    width: 370px;
    z-index: -1;
    top: -20px;
    right: -50px;
    border-bottom-left-radius: 100px;
}

.flower-pink{
    position: absolute;
    right: 190px;
    top: 350px;
    z-index: -1;
}

#main article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}

#main article div p{
    font-size: 35px;
    margin-bottom: 0;
}

#main article div h1{
    font-size: 72px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.button{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

#main article img{
    margin-right: -50px;
}

#about {
    margin-top: 230px;
    position: relative;
}

#about header{
    display: grid;
    grid-template-columns: 260px auto 380px;
    align-items: center; 
}
/*--------------------------------------------*/
figure{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}

figure figcaption{
    margin-left: 10px;
    font-size: 36px;
}

h2{
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
    margin: 0;
}

div.line{
    border-bottom: 1px solid black;
}
/*----------------------------------------------*/
#about article{
    margin-top: 120px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#about article div{
    margin-top: -100px;
}

#about article h1{
    font-size: 36px;
    margin: 0;
}
#about article p{
    font-size: 24px;
    margin-top: 16px;
    color: black;
}

#about article.customized{
    
   margin-left: 0;
   margin-right: -150px;
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.customized img{
    margin-right: -200px;
    margin-top: -80px;
}

.rect{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    z-index: -1;
}
.rect-brown{
    background-color: #F7DEA6;
    position: absolute;
    top: 130px;
}
#about .flower-pink-second{
    position: absolute;
    top: 380px;
    left: -182px;
    z-index: -2;
}

#how {
    margin-top: 120px;
    position: relative;
    height: 500px;
}
#how header{
    display: grid;
    grid-template-columns: 310px auto 590px;
    align-items: center; 
}

#how article{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    width: 100%;
    height: 200px;
}

#how article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#how article p.text-item{
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 0;
}

#how article p.num-item{
    font-size: 96px;
    color: rgba(249, 189, 189, 0.25);
    font-weight: 600;
    margin: 0;
    margin-top: 30px;
    margin-left: -140px;
    z-index: -1;
}

#how article img{
    position: absolute;
    top: 10px;
}

#how a{
   position: relative;
   left: 40%;
   width: 212px;
   top: 60px;
}

#categories{
    margin-top: 120px;
    margin-bottom: 120px;
}

#categories header{
    display: grid;
    grid-template-columns: 300px auto 450px;
    align-items: center; 
}

#categories article{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 56px;
}

#categories article div {
    width: 280px;
    height: 400px;
    border-radius: 0 100px;
    position: relative;
}

#categories article p{
    position: absolute;
    top: 24px; 
    left: 16px; 
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

#categories article img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

#categories .btn-shop{
    position: absolute;
    bottom: 24px; 
    right: 16px; 
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 123px;
    height: 40px;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.mockup-pink {
    background-color: #F9BDBD;
}

.mockup-yellow {
    background-color: #F7DEA6; 
}

.mockup-blue {
    background-color: #A8DCECBD;
}

#testimony header {
    display: grid;
    grid-template-columns: 300px auto 410px;
    align-items: center;
    margin-bottom: 40px;
}

#testimony article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

#testimony article img {
    border-radius: 100px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#testimony article div.rating{
    width: 370px;
    height: 250px;
    border: 1px solid #A8DCEC;
    border-radius: 0 100px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#testimony .checked{
    color: #FFC107; 
    font-size: 22px;
}

#testimony article div p{
    font-size: 14px;
}

#testimony article .rating-person{
   display: flex;
   align-items: center;
}

#testimony article .rating-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#testimony article p.rating-name{
    color: #AFAFAF;
    font-size: 12px;
    margin: 0;
    margin-left: 8px;
}

#testimony article .rating-arrow{
    height: 40px;
    width: 400px;
    display: flex;
    position: relative;
}
#testimony article .rating-arrow div{
    display: flex;   
    flex-direction: row;
    align-items: center;
}

#testimony article .rating-arrow p {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
#testimony article .arrow {
    width: 30px;
    height: 1px;
    background-color: black;
    position: relative;
}

.arrow.left::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 1px;
    background-color: #C4C4C4;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: -1px;
}

.arrow.left::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 1px;
    background-color:#C4C4C4;
    transform: rotate(-45deg);
    position: absolute;
    top: -2px;
    left: -1px;
}

.arrow.right::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 1px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -1px;
}

.arrow.right::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 1px;
    background-color: black;
    transform: rotate(-45deg);
    position: absolute;
    top: 2px;
    right: -1px;
}

#testimony article .arrow-previous p{
    color: #C4C4C4;
}

#testimony article .rating-arrow .left{
    background-color: #C4C4C4;
}

#testimony article .arrow-next{
    position: absolute;
    right: 0;
    margin-top: -1px;
}

#testimony .rating-page{
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 8px;
}

#testimony .rating-page a{
    background-color: #E5E5E5;
    border-radius: 50px;
    height: 8px;
    width: 40px;
}
#testimony .rating-page a.active{
    background-color: #DAA520;
}

footer{
    background-image: linear-gradient(to top, #d3d3d3 -250%, #ffffff);
    margin: -50px;
}

footer article{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

footer article p{
    color: black;
    margin-right: 35px;
}

footer article input{
    width: 365px;
    height: 40px; 
    border-radius: 4px 0 0 4px;
    border: 0.1px solid #DAA520;
    font-size: 16px;
}

footer article ::placeholder{
    color: #AFAFAF; 
    font-size: 16px; 
    padding-left: 16px;
  }

footer article .button{
    width: 120px;
    height: 46px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 0 4px 4px 0;
}

footer hr{
    width: 725px;
    margin-top: 86px;
    margin-left: 50px;
    border: 0.1px solid #C4C4C4;
}

footer section{
    margin-top: 24px;
    margin-left: 50px;
    width: 770px;
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    
}
footer section figure p {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-left: 8px;
}
footer section div{
    margin-right: 50px;
}

footer section .content{
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

footer section .element{
    color: #8D8D8D;
    font-size: 14px;
}
footer .copyright{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 24px;
    margin: 0;
    color: #8D8D8D;
    font-size: 12px;
}


