@media (max-width: 428px){
    body{
        background: #000040;
        font-family: 'Rubik';
        padding: 15px;
        color:#FFFFFF;
        height: 800px; 
    }

    h1{
        font-size: 24px;
        margin: 0;
        text-align: center;
    }

    h2{
        font-size: 20px;
        margin-top: 14px;
        margin-bottom: 14px; 
    }

    h3{
        font-size: 30px;
        margin: 0;
    }

    p{
        font-size: 16px;
        color: #B9B2C4;
        margin:0
    }
    header{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .arrow{
        border: solid black;
        border-width: 3px 0 0 3px;  
        width: 13px;
        height: 13px;
      }

    .arrow.left{
        border-color: #FFFFFF ;
        transform: rotate(-45deg);
    }

    .arrow.down{
        border-color: #B9B2C4 ;
        transform: rotate(-135deg);
        margin-bottom: 7px;
        width: 9px;
        height: 9px;
    }

    section#graphic div{
        position: relative;
    }

    section#graphic div.month{
        margin-top: 10px;
        margin-bottom: 11px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 10px;      
    }

    section#graphic div img{
        width: 100%;
        z-index: -1;
    }

    section#graphic div.container{
        position: absolute;
        top: 22%;
        left: 41%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#graphic div.money{
        width: 58px;
        height: 25px;
        display: grid;
        place-items: center;
        color: #FFF;
        font-size: 14px;
    }

    section#graphic div.circle{
        width: 7px;
        height: 7px;
        margin-top: 5px;
    }

    section#graphic .money, .circle{
        background-color: #E42BC9;
        border-radius: 10px;
        border: 2px solid #ff78db;
    }

    section#graphic div.mont-date{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    article{
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    table{
        width: 100%;
        padding-top: 15px;  
    }

    table img{
        width: 48px;
        height: 48px;
    }

    .items-left{
        width: 56px;
    }

    .items-center{
        text-align: left;
    }

    .items-right{
        text-align: right;
    }

    .line-one{
        font-size: 18px;
        color: white;
    }

    table tbody td{
        padding: 1px;
    }
}